doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
      nav
        h1 
          a(href='/') Home 
        ul 
          li 
            a(href='/sign-up') Sign Up 
          li 
            a(href='') Log In
    block content
