extends layout

block content
  section(class="min-h-screen flex items-center justify-center bg-blue-400")
      div(class=" w-8/12 flex flex-col lg_flex-row bg-white rounded-xl mx-auto shadow-lg overflow-hidden")
        div(class=" w-full lg_w-1/2 flex flex-col items-center justify-center p-12 bg-gray-400 text-white")
          h1.text-3xl Welcome
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore quae quo praesentium! 
        div(class=" w-full lg_w-1/2 py-16 px-12")
          h2.text-3xl Login to your account
          form(action="" method="POST" id="sign-up-form")
            div.form-group.mt-5
              input(type="email" placeholder="Email" name= "email" class="border border-gray-400 py-1 px-2 w-full")
            div.form-group.mt-5
              input(type="password" placeholder="Password" name="password" class="border border-gray-400 py-1 px-2 w-full")
            div.form-group.mt-5
              input(type="password" placeholder="Confirm Password" name="confirm-pass" class="border border-gray-400 py-1 px-2 w-full")
            div.mt-5
              button.w-full.bg-purple-400.py-3.text-center.text-white(type="submit") Login
            div
              small Don't have an account? 
                a.text-blue-500(href='/sign-up') Sign Up 