extends layout

block content
  section(class="min-h-screen flex items-center justify-center bg-blue-400")
    div(class=" w-8/12 flex flex-col lg_flex-row-reverse bg-white rounded-xl mx-auto shadow-lg overflow-hidden")
      div(class=" w-full lg_w-1/2 flex flex-col items-center justify-center bg-form bg-no-repeat bg-cover bg-center bg-fixed text-black")
        div.bg-white.bg-opacity-40.rounded-md.flex.flex-col.items-center.justify-center.h-full.w-full.p-10.text-center
          h1.text-3xl Welcome Back!
          p.text-xl Log in and use the secret code inside to see special messages.
      div(class=" w-full lg_w-1/2 py-16 px-12")
        h2.text-3xl Login to your account
        form(action="" method="POST" id="sign-up-form")
          div.form-group.mt-5
            input(type="text" placeholder="Username" name="username" class="border border-gray-400 py-1 px-2 w-full") 
          div.form-group.mt-5
            input(type="password" placeholder="Password" name="password" class="border border-gray-400 py-1 px-2 w-full")
          div.mt-5
            button.w-full.bg-purple-400.py-3.text-center.text-white(type="submit") Login
          div
            small Don't have an account? 
              a.text-blue-500(href='/sign-up') Sign Up 
          if errors 
            ul 
              for error in errors 
                li!=error.msg