extends layout 

block content 
  include nav.pug 
    div
      form(method='POST' action='' id='member_form')
        h1 Enter the code to become a member and see messages!
        div.form-group
          label(for='secret-code') Secret Code:
          input(type='text', placeholder='Rendezvous...' name='secret-code')
        button(type='submit') Submit
