block content
  header 
      nav(class="flex flex-col text-center sm_flex-row sm_text-left sm_justify-between py-4 px-6 bg-white shadow sm_items-baseline w-full")
          div(class="mb-2 sm_mb-0") 
            a(href='/' class="text-2xl no-underline text-grey-darkest hover_text-blue-500") MembersOnly
          div
          if !currentUser  
            a(href='/sign-up' class="text-lg no-underline text-grey-darkest hover_text-blue-500") Sign Up  
          if currentUser
            h2 #{currentUser.username}
            a(href="/log-out") LOG OUT
          else 
            a(href='/log-in' class="text-lg no-underline text-grey-darkest hover_text-blue-500 ml-2") Login