body {
  padding: 0 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul,
li,
ol {
  list-style: none;
}

nav > ul {
  display: flex;
  gap: 1rem;
}
